{% extends "ads/layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="home-wrapper">
        <h1 class="main-header">Anuncio Neon</h1>
        <div class="categories-wrapper">
            {% for category in categories %}
            <div class="category-card">
                <h5 class="category-title">
                    <a class="category-title-link" href="{% url 'category' category.url_name %}">{{ category.category }}</a>
                </h5>
                <div class="subcategories-wrapper">
                    {% for subcategory in category.subcategories.all %}
                    <p class="subcategory">{{ subcategory.subcategory }}</p>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}