.nav {
    padding: 20px;
}

.nav-link {
    margin: 0px 10px;
    color: #37c1f8;
}

.content {
    max-width: 90vw;
    margin: 0 auto;
}

.main-header {
    margin: 50px 0px;
    text-align: center;
}

.categories-wrapper, .category-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories-wrapper {
    flex-wrap: wrap;
}

.category-card {
    flex-direction: column;
    background-color: #ecee8e;
    width: 260px;
    margin: 20px;
    padding: 15px;
}

.subcategories-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.subcategory {
    margin: 5px;
}

form {
    margin: 30px auto;
}

form input {
    margin: 20px auto;
}

h2 {
    text-align: center;
    margin: 40px 0px;
}

.ads-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 260px;
    margin: 10px;
    background-color: #ecee8e;
}

img {
    max-width: 90%;
    height: auto;
}

/****** FOOTER ******/

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.footer-info {
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.footer-link {
    color: #37c1f8;
}

.social-links-wrapper {
    padding-bottom: 20px;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0px;
}

.fa {
    font-size: 26px;
}

.fa-twitter {
    color: #55ACEE;
}

.fa-linkedin {
    width: 30px;
    border-radius: 5%;
    background: #007bb5;
    color: #fff;
    padding-left: 3px;
}

.fa-github {
    color: #fff;
}